# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv/

# IDEs
.vscode/
.idea/

# Credentials
creds/